<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <div class="site-wrap">
      <%= yield %>
    	<h1>Users</h1>
    </div>
  </body>
</html>
